@model StudentDepartmentViewModels
@*Now The View is valled strongly typed view *@
@{
    Layout = null;
}
@{

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <h2>Student Data</h2>
    @Model.student
    <h2>Department Data</h2>
    @Model.department
</body>
</html>
